* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif
}

.container {
  max-width: 1495px;
  width: 100%;
  margin: auto;
  padding: 0 60px;
}

.header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.unique_style {
  color: #ADFFA2 !important;
}

.slider {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.slide {
  height: 52px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

}

.header_item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  color: #FFF7A7;
  white-space: nowrap;
}


.header_line {
  width: 0.5px;
  height: 33px;
  background: linear-gradient(rgba(255, 255, 255, 0), #7b7676, #7b7676, rgba(37, 37, 37, 0));
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 63px;
  font-weight: 500;
  text-wrap: nowrap;
}

.nav_categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.nav_category:hover {
  padding: 10px;
  background-color: #f2f6f5;
  border-radius: 40px;
  transition: padding 0.5s ease;
}

.nav_text {
  display: flex;
  flex-direction: column;
}

.search_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 4px;
}

.input_content {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 460px;
  width: 100%;
  padding: 0 1px;
}

.input_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 4px;
}

.input_content input {
  width: 100%;
  background-color: transparent;
  line-height: 18px;
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  height: 100%;
  outline: none;
}

.input_content input:focus {
  outline: none;
}

.input_search_button {
  width: 50px;
  height: 34px;
  border-radius: 17px;
  cursor: pointer;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input_search_button svg {
  color: white;
  fill: currentColor;
}

.base_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base_content_container {
  max-width: 1272px;
  width: 100%;
}

.breadcrumb_nav ol {
  display: flex;
  list-style-type: none;
  gap: 5px;
  margin: 0;
  padding: 14px 0;
  line-height: 15px;
  font-weight: 400;
  font-size: 13px;
  color: #222;
}

.item_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}


.base_product_content {
  display: flex;
}

.left_product_content {
  display: flex;
  width: 100%;
  gap: 13px
}

.left_base_content,
.right_base_content {
  flex: 1;
  height: 100%;
}

.right_base_content {
  padding: 0px 6px 40px 50px;
}

.left_content_sidebar {
  width: 62px;
}

.left_content_sidebar ol {
  overflow-y: auto;
  max-height: 550px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left_content_sidebar ol li,
.left_content_sidebar ol li img {
  width: 57px;
  height: 57px;
  cursor: pointer;
}

.left_content_sidebar img:hover {
  border: 2px solid black;
}

.featured_image {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.featured_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: none;
}

.review_content {
  padding: 28px 0 0;
  width: 100%;
}

.review_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 1272px;
}

.review_section_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.review_section,
.review_star_feedback,
.review_stars {
  display: flex;
  align-items: center;
}

.review_star_feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.confirm_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: #0a8800;
  border-radius: 4px 0 0 4px;
  color: #fff;
}

.confirm_text {
  color: #0a8800;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #ecffeb;
}

.review_line {
  height: 1px;
  width: 100%;
  margin-top: 11px;
  background-color: #ececec;
}

.sort_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.sort_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.sort_buttons_container img {
  width: 12px;
  height: 12px;
}

.sort_buttons_container div {
  padding: 4px 10px;
  border: 1px solid #222;
  color: #222;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.base_content_title {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product_summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  font-size: 14px;
}

.product_summary_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.product_summary_container img {
  width: 15px;
  border-radius: 50px;
}

.sold_amount {
  color: #7b7676
}

.divider {
  width: 1px;
  height: 12px;
  background-color: #7b7676;
  margin: 0 4px;
  display: inline-block;/
}

.seller_badge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller_tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 4px;
}

.seller_tag_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.category_section {
  width: 100%;
  margin-top: 10px;
}

.category_section_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.category_section_container img {
  width: 15px;
}

.most_sold {
  background-color: #0a8800;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 1px 3px;
}

.promo_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feefe1;
  border-radius: 4px;
  padding: 10px 16px 10px 12px;
  margin-top: 10px;
  font-size: 14px;
}

.banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.product_price {
  margin-top: 10px;
}

.currency {
  font-size: 20px;
  font-weight: 500;
}

.current_price {
  font-size: 30px;
  font-weight: 500;
}

.banner_content img {
  width: 14px;
}

.recommended_price {
  color: #aaa;
}

.product_list_container {
  margin-top: 20px;
  font-size: 14px;
}

.product_list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product_item {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
}

.product_list img {
  width: 88px;
  height: 88px;

}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
.product_image {
  background-color: #222;
} */

.input_container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity_input {
  border: 1px solid #c1bcbc;
  padding: 2px 10px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.quantity_input input {
  display: flex;
  align-items: center;
  border: none;
  max-width: 60px;
  height: 100%;
  padding: 2px;
  outline: none;
}

.arrow-button-active {
  color: white;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.number_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number_list {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  border: 1px solid #c1bcbc;
  width: 100%;
  border-radius: 5px;
}

.number_list div {
  padding: 5px 10px;
  background-color: white;
}

.number_list div:hover {
  background-color: #f5f2f2;
}

.cart_action {
  margin-top: 20px;
  max-width: 476px;
  width: 100%;
  font-weight: 600;
  line-height: 18px;
  height: 48px;
  display: flex;
  background-color: #fb7701;
  border-radius: 50px;
}

.add_to_cart_btn {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #fb7701;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order_badge {
  font-size: 16px;
  font-weight: 600;
}

.discount_badge {
  font-size: 12px;
}

.navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #ececec;
  border-radius: 20px;
  padding: 5px 8px;
}

.nav_search input {
  width: 130px;
  font-size: 24px;
  background-color: #ececec;
  border: none;
  outline: none;
}

.nav_user_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: blueviolet;
  color: white;
}

@media only screen and (max-width: 1040px) {

  .five_stars,
  .new_arrivals {
    display: none !important;
  }
  .navigation_bar {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 40px;
  }

  .header {
    font-size: 12px;
  }

  .best_sellers {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .header_item {
    font-size: 11px;
    gap: 3px;
  }

  .header_line {
    height: 25px;
  }

  .base_product_content {
    flex-direction: column !important;
  }

  .header {
    display: block;
    font-size: 12px;
    line-height: 15px;
  }

  /* .slick-list {
  width: 200px;
} */

  .container {
    padding: 0 10px;
  }

  .arrow_right {
    width: 8px;
  }

  .support {
    display: none;
  }

}

@media only screen and (max-width: 572px) {
  .header {
    visibility: hidden;
    height: 0;
  }

  .navigation_bar {
    display: block;
  }
}