* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif
}

.container {
  max-width: 1495px;
  width: 100%;
  margin: auto;
  padding: 0 60px;
}

.header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 52px;
  width: 100%;
}

.header_item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
}

.navbar {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  gap: 20px;
  text-wrap: nowrap;
}

.nav_categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav_category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.nav_text {
  display: flex;
  flex-direction: column;
}

.input_content {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  padding: 0 1px;
}

.input_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 4px;
}

.input_content input {
  width: 100%;
  background-color: transparent;
  line-height: 18px;
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  height: 100%;
  outline: none;
}

.input_content input:focus {
  outline: none;
}

.input_search_button {
  width: 50px;
  height: 34px;
  border-radius: 17px;
  cursor: pointer;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.input_search_button svg {
  color: white;
  fill: currentColor;
}

.base_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base_content_container {
  max-width: 1272px;
  width: 100%;
}

.breadcrumb_nav ol {
  display: flex;
  list-style-type: none;
  gap: 5px;
  margin: 0;
  padding: 14px 0;
  line-height: 15px;
  font-weight: 400;
  font-size: 13px;
  color: #222;
}


.base_product_content {
  display: flex;
}

.left_product_content {
  display: flex;
  width: 100%;
  gap: 13px
}

.left_base_content,
.right_base_content {
  flex: 1;
  height: 100%;
}

.left_content_sidebar {
  width: 62px;
}

.left_content_sidebar ol{
  overflow-y: auto;
  max-height: 500px;
  scrollbar-width: none; 
} 

.left_content_sidebar ol li img {
  width: 57px;
  height: 57px;
}

.featured_image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative; 
  overflow: hidden; 
}

.featured_image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block;
  filter: none;
}
