@media only screen and (max-width: 1040px) {

  .five_stars,
  .new_arrivals,
  .navigation_bar {
    display: none !important;
  }

  .left_base_content, .right_base_content {
    width: 50%;
  }

  .review_section {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 40px;
  }

  .header {
    font-size: 12px;
  }

  .best_sellers,
  .navigation_bar {
    display: none;
  }
}