.center {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-start {
    display: flex;
    align-items: center;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }